/* ./src/styles/global.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-web{
    background-color: #01000c;    
  animation: bg-web-move 5s infinite;
}

@keyframes bg-web-move {
    from {background-color: #01000c;}
    to {background-color: #070166;}
  }